PORT=3000
HOST=connector0
EXTERNAL_CLIENT_URL=https://example.com
DEBUG=true
MPC_BASE_URL=http://polytune0:8080
MPC_LEADER_ID=0
MPC_PARTY_ID=0
MPC_PARTICIPANTS=http://polytune0:8080,http://polytune1:8080